.font-family {
    font-family: Arial, Georgia;
  }
  
  .fallback-fonts {
    font-family: "Helvetica", "Arial", sans-serif;
  }
  
  .italic-text {
    font-style: italic;
  }
  
  .bold-text {
    font-weight: bold;
  }
  
  .normal-text {
    font-weight: normal;
  }
  
  .font-px {
    font-size: 20px;
  }
  
  .font-em {
    font-size: 1.5em;
  }
  
  .font-rem {
    font-size: 1.5rem;
  }
  